@import '../../../src/styles.scss';

.aboutSection {
    height: 300px;
    width: 100%;
    background-color: $black;
    color: white;
    outline: 5px white solid;

.about-wrapper{
    display: flex;
    justify-content: space-between;
}
p {
    margin: unset; 
}
}

