@import '../../../src/styles.scss';

.aboutSection{
    height: 100%;
    padding: 8rem;
    background-color: $black;

// .container{

//     height: 500px;
//     width: 100%;
//     outline: 1px white solid;
//     display: flex;
// }
}

