@import '../../../src/styles.scss';

.footer{
    text-transform: uppercase;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: $black;
    color: $white;
    height: 15px;
}