@import '../../../src/styles.scss';

.banner-section {
    height: 100%;
    width: 100%;

.banner-wrapper{
    display: flex;
    flex-direction: column;
    height: 550px;
    @include sm-breakpoint {
       flex-direction: row;
    }
}
.banner-content {
    background-color: $red;
    flex: 1;
    color: $white;
    text-align: right;
    padding: 2rem 3rem;

    h1 {
        font-style: italic;
        font-weight: bold;
        font-size: 50px;
        @include sm-breakpoint {
            font-size: 50px;
            font-size: 65px;
         }
    }
    p {
        font-size: 18px;
    }
}
.banner-image{
    flex: 1;
    background-image: url(../../assets/splash.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

}